<img alt="Exposition banner image" id="desconfinar-banner-image" class="exposition-banner-image" src='https://joaoribeiro-bucket.s3.eu-west-3.amazonaws.com/expo/desconfinar.jpg'>
<section class="section-exposition">
    <div>
        <h2 style="margin: 5px;">
            <span lang="pt">9 maio - 31 agosto  2021</span>
            <span lang="en" class="hide">9th may – 31st august  2021</span>
        </h2>
        <h2 style="margin: 5px; padding-bottom: 5vh;">
            Teatro-Cine de Pombal
        </h2>
    </div>
    <div>
        <h1>DesConfinar</h1>
        <p>
            <span lang="pt">&emsp; O Artista confina e a obra “DesConfina” foi o mote para a realização da exposição “DesConfinar”.
            Uma exposição coletiva que reuniu 12 artistas Pombalenses.
            Adélia Ferreira, António Nascimento Lopes, Fábio Silva, Fátima Carvalho, Janinne, João Ribeiro, Jorge Valente, José Maria Bustorff, Lídia Carrola, Lurdes Serrano, Mari e Orlando S. Lourenço traduziram os seus sentimentos na arte que aqui apresentamos. </span>
            <span lang="en" class="hide">&emsp; The artist confines and the work “DesConfina” was the motto for the realization of the exhibition “DesConfinar”.
            A collective exhibition that brought together 12 artists from Pombal.
            Adélia Ferreira, António Nascimento Lopes, Fábio Silva, Fátima Carvalho, Janinne, João Ribeiro, Jorge Valente, José Maria Bustorff, Lídia Carrola, Lourdes Serrano, Mari and Orlando S. Lourenço transmitted their feelings into the art presented here. </span>
        </p>
    </div>
</section>
<div id="exposition-related-images">
    <img alt="Exposition image 1" id="desconfinar-image-1" class="grid-item-content exposition-content" src='https://joaoribeiro-bucket.s3.eu-west-3.amazonaws.com/expo/desconfinar1.jpg'>
    <img alt="Exposition image 2" id="desconfinar-image-2" class="grid-item-content exposition-content" src='https://joaoribeiro-bucket.s3.eu-west-3.amazonaws.com/expo/desconfinar2.jpg'>
</div>