<footer>
    <p class="text-footer">João Ribeiro</p>
    <div style="margin: auto; width: 80px; display: flex;">
        <a href="https://www.facebook.com/joaopedro.matiasribeiro" class="icon icon-face"></a>
        <a href="https://www.instagram.com/jotap_r/" class="icon icon-insta"></a>
    </div>
</footer>