<footer>
    <p class="text-footer">This is text</p>
    <div style="margin: auto; width: 80px;">
        <button class="icon icon-face"></button>
        <button class="icon icon-insta"></button>
    </div>
</footer>