<a onclick='openImagePage("<%- obra.id %>");'>
    <div class="grid-item">
        <img class="grid-item-content" src='https://joaoribeiro-bucket.s3.eu-west-3.amazonaws.com/thumbnail_<%= obra.fileid %>.jpg'>
    </div>
</a>