<a onclick='openImagePage("<%- obra.id %>");'>
    <div class="grid-item">
        <div class="grid-item-content" style='<%= obra.style %>'>

            <div class="grid-info">
                <h1 class="grid-h"><%= obra.titlept %> </h1>
                <p class="grid-p"><%= obra.descriptionpt %> </p>
            </div>


        </div>
    </div>
</a>