<a onclick="return false;">
    <div class="grid-item">
        <div class="grid-item-content">

            <div class="grid-info">
                <h1 class="grid-h">Titulo</h1>
                <p class="grid-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vel velit id
                    ornare. Pellentesque a enim
                    metus. Nunc vel efficitur leo. Aenean commodo massa diam, aliquam viverra lacus aliquet sit amet.
                    Vivamus
                    pulvinar non urna nec viverra. Nam viverra, est a vehicula tincidunt, quam enim maximus dui, sit
                    amet ornare
                    velit felis quis purus. Nullam sapien tortor, tempor sed luctus at, fermentum non nibh. Mauris urna
                    neque,
                    pellentesque nec finibus vitae, pulvinar eu turpis. Quisque non purus luctus, dapibus justo in,
                    dictum est.
                    In tempus tincidunt facilisis. Proin id turpis ultricies, sollicitudin arcu sed, cursus nunc.
                    Pellentesque
                    consectetur odio quis tellus hendrerit, at scelerisque lorem posuere. </p>

            </div>


        </div>
    </div>
</a>