<section class="section-banner" style="height: unset; aspect-ratio: 4/3; min-height: unset; margin: auto">
    
    <div id="banner">

        
        <div id="arrow-left" class="banner-button" onclick="leftBannerButton()"></div>
        <div id="arrow-right" class="banner-button" onclick="rightBannerButton()"></div>

        <div id="banner-background" class="banner-background banner-background-left"></div><div id="banner-background" class="banner-background banner-background-center"></div><div id="banner-background" class="banner-background banner-background-right"></div>
        
        
        <div id="selection-bar" class="selection-bar">
            <ol>
                <li class="bar" onclick="selectorBannerButton(-1)"></li><li class="bar" onclick="selectorBannerButton(0)"></li><li class="bar" onclick="selectorBannerButton(1)"></li>
            </ol>
        </div>
        <div id="selected-bar" class="bar selection-bar selected"></div>
    </div>
</section>