<section class="section-banner">
    <div id="banner">
        <div id="banner-background"></div>
        
        <div id="arrow-left" class="banner-button"></div>
        <div id="selection-bar" class="selection-bar">
            <ol>
                <li class="bar"></li><li class="bar"></li><li class="bar"></li>
            </ol>
        </div>
        <div id="selected-bar" class="bar selection-bar selected"></div>
        <div id="arrow-right" class="banner-button"></div>
    </div>
    <h1 id="banner-title">Titulo do painel</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vel velit id ornare. Pellentesque a enim
        metus. Nunc vel efficitur leo. Aenean commodo massa diam, aliquam viverra lacus aliquet sit amet. Vivamus
        pulvinar non urna nec viverra. Nam viverra, est a vehicula tincidunt, quam enim maximus dui, sit amet ornare
        velit felis quis purus. Nullam sapien tortor, tempor sed luctus at, fermentum non nibh. Mauris urna neque,
        pellentesque nec finibus vitae, pulvinar eu turpis. Quisque non purus luctus, dapibus justo in, dictum est.
        In tempus tincidunt facilisis. Proin id turpis ultricies, sollicitudin arcu sed, cursus nunc. Pellentesque
        consectetur odio quis tellus hendrerit, at scelerisque lorem posuere. </p>
</section>
<section class="section-list">
</section>