<div id="imageoverlay">
    <div id="grid-imageoverlay">
        <img id="imageoverlay-image" src="<%= obra.src %>">
        <div id="imageoverlay-description">
            <h1><%= obra.titlept %></h1>
            <p><%= obra.descriptionpt %></p>
        </div>
    </div>

</div>