<!DOCTYPE html>
<html lang="pt">

<head>
    <title>João Ribeiro</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="Portefólio João Ribeiro">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/index.js"></script>
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('navbar.ejs') %>


        <object id="language-select-hidden" data="/images/american-flag.svg" type="image/svg+xml">
        </object>

        <div id="content">

        </div>

        <div class="flag-sticky">
            <div id="flag-container">
            <button id="language-select-shell" onclick="triggerLanguageChange()"></button>

            <object id="language-select" class="" data="/images/flag.svg" type="image/svg+xml">
            </object>
            </div>
        </div>

        <div style="height: auto; width: 100%;"></div>

        <footer>
            <p class="text-footer">This is text</p>
            <div style="margin: auto; width: 100px;">
                <button class="icon icon-face"></button>
                <button class="icon icon-insta"></button>
            </div>
        </footer>
</body>



</html>