<nav id="nav-bar" class="nav-open">
    <div class="nav-left">
        <button id="nav-button-left" class="not-selected" onclick="portfolioButton()">PORTFÓLIO</button>
        <button id="nav-button" onclick="exposicoesButton()">EXPOSIÇÕES</button>
        <nav id="nav-menu-left">
            <div id="nav-menu-left-background">
                <div id="nav-menu-left-buffer"></div>
                <button id="nav-menu-left-button" class="nav-menu-button">TELAS</button>
                <button id="nav-menu-left-button" class="nav-menu-button">MURAIS</button>
                <button id="nav-menu-left-button" class="nav-menu-button">TRIDIMENSIONAIS</button>
                <div id="nav-menu-left-buffer"></div>
            </div>
        </nav>
    </div>
    <div class="nav-center-all" onclick="centerTextButton()">
        <p id="nav-text" class="nav-text-in">João Ribeiro</p>
        <div id="nav-center" class="nav-center-in"></div>
    </div>
    <div class="nav-right">
        <button id="nav-button" onclick="sobreButton()">SOBRE</button>
    </div>
    <button id="nav-arrow-button" onclick="navButtonPress()"></button>


</nav>