<div id="about-image"></div>
<section class="section-about">
    <h1 id="about-h1">João Ribeiro</h1>
    <p id="about-p">
        <span lang="pt">João Pedro Matias Ribeiro, nasceu em 2000, estudou Artes Visuais na Escola Secundária de Pombal e atualmente frequenta a licenciatura em Artes Plásticas da Escola Superior de Artes e Design, em Caldas da Rainha.
            A sua obra é inspirada na observação quotidiana das paredes da urbe e do tempo que as envolve e transforma.
            Obra onde predomina uma figuração que o artista sobrepõe a reproduções de fragmentos de superfícies urbanas, com toda a plasticidade visual que nestas reside e que o artista convoca.
                Atua em pintura mural, pintura em tela e outros suportes produzidos pelo artista, tendo como eleição a utilização de sprays e tintas acrílicas. </span>
        <span lang="en">João Pedro Matias Ribeiro, born in 2000, studied Visual Arts at Escola Secundária de Pombal and is currently attending a degree in Plastic Arts at Escola Superior de Artes e Design, in Caldas da Rainha.
            His work is inspired in the daily observation of the city walls and the time that surrounds and transforms them.
            His work is dominated by a figuration that the artist superimposes on reproductions of fragments of urban surfaces, with all the visual plasticity that resides in them and that the artist summons up.
                He works in mural painting, painting on canvas and other supports produced by the artist, using spray and acrylic paints as a favored choice. </span>
    </p>
    <div id="contacts">
        <span style="display: flex; flex-flow: row nowrap; align-items: center;"><div class="icon icon-face" style="height: 1rem;"></div><a class="contact-link" target="_blank" href="https://www.facebook.com/joaoribeiro.art">joaoribeiro-art</a></span><span style="display: flex; flex-flow: row nowrap; align-items: center;"><div class="icon icon-insta" style="height: 1rem;"></div><a class="contact-link" target="_blank" href="https://www.instagram.com/jotap_r/">jotap_r</a></span><span style="display: flex; flex-flow: row nowrap; align-items: center; padding-right: 8px;"><a id="contact-link">912390439</a></span>
    </div>
</section>