:root {
  /*--nav-color: #1b1a27;
  --nav-secondary-color: #52506ebb;
  --nav-highlight-color: #a7a5c5bb;*/

  --nav-color: #1e1e1e;
  --nav-secondary-color: #d5d5d5af;
  --nav-highlight-color: #f2f2f2;
  --nav-highlight-color-transparent: #f2f2f200;

  --section-background: #eaeaea;

  --background-color: hsl(200, 0%, 95%);

  --text-color: #505050;

  --nav-height: 50px;
  --nav-center-width: clamp(350px, 30%, 500px);
  --nav-button-width: clamp(150px, 10vw, 200px);

  scrollbar-color: var(--nav-highlight-color) var(--nav-color);

  font-family: 'Roboto', sans-serif;
}


body::-webkit-scrollbar {
  width: auto;
}

body::-webkit-scrollbar-track-piece {
  background: var(--nav-color);
}

/*body::-webkit-scrollbar-button {
  background: var(--color-scrollbar-background);
  background-color: var(--color-scrollbar-highlight);
}*/

body::-webkit-scrollbar-track {
  background: var(--nav-color);        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--nav-highlight-color);   
}

.hide {
  display: none;
}

body {
  background-color: var(--nav-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--section-background);
}

#language-select-hidden {
  position: fixed;
  opacity: 0;
}

#language-select {
  width: 30px;
  height: 30px;
  transition: filter 500ms;
}

#flag-container {
  width: 30px;
  height: 30px;
}

.bandw {
  filter: saturate(400%) grayscale(100%) invert(80%) contrast(150%) brightness(40%);
  transition: filter 500ms;
}

.flag-sticky {
  display: flex;
  flex-flow: row-reverse nowrap;
  position: sticky;
  bottom: calc(4vh - 30px*11/32);
  width: calc(100% - 8vh);
}

#language-select-shell {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
}

p {
  width: 90%;
  margin: 5px auto;
  font-size: 15px;
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow: hidden;
} 

h1 {
  width: 90%;
  margin: 5px auto;
  font-size: 17px;
  color: var(--text-color);
}

#nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  top: 0;
  background-color: var(--nav-secondary-color);
  isolation: isolate;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0px 0px 5px #3f3f3f;*/
  overflow: visible;
  z-index: 1;
}

#nav-menu-left {
  /*left: calc(100%*0.35/4 - max(calc(0.3*(100% - max(400px, 30%))/2), 150px)/2);*/
  top: var(--nav-height);
  position: absolute;
  width: var(--nav-button-width);
  overflow: hidden;
}

#nav-menu-left-background {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  transform: translateY(-100%);
}

#nav-small-screen-menu {
  display: none;
}

#nav-small-screen-menu-background {
  display: none;
} 

button {
  all: unset;
  text-align: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-highlight-color);
  border-right: 1px solid var(--nav-secondary-color);
  border-left: 1px solid var(--nav-secondary-color);
  width: max(70vw, 800px);
  min-height: 100vh;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--nav-secondary-color);
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border-top: 1px solid var(--nav-color);
  z-index: 2;
}

.text-footer {
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: calc(100% - 160px);
}

.icon {
  width: 25px;
  aspect-ratio: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(19%);
  margin: 5px;
}

.icon-face {
  background-image: url(../images/facebook.svg);
}

.icon-insta {
  background-image: url(../images/instagram.svg);
}

.section-banner {
  margin-top: 70px;
  border-bottom: 1px solid var(--nav-secondary-color);
  padding-bottom: 20px;
}

.section-list {
  height: 100vh;
}

.section-filter {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--nav-secundary-color);
}



/*.section-hello {
  
  filter:blur(6px);
  -o-filter:blur(6px);
  -ms-filter:blur(6px);
  -moz-filter:blur(6px);
  -webkit-filter:blur(6px);
}*/

.section-overlay {
  isolation: isolate;
  mix-blend-mode: overlay;
  background: linear-gradient(60deg, var(--nav-color) 0%, var(--nav-color-2) 100%);
  opacity: 0.8;
}

#banner {
  position: relative;
  overflow: hidden;
  width: max(900px, calc(80vw - 40px));
  aspect-ratio: 16/9;
  
  display: inline-box;
  display: -webkit-inline-box;

  margin: 20px 0px;
}

.banner-background {
  width: 100%;
  aspect-ratio: 16/9;
  background-size: 100% auto;
  background-position-y: center;
  background-repeat: no-repeat;
  position: relative;
  transform: translateX(-100%);
}

.banner-background-left {
  background-image: url('../images/back-back.jpg');
}

.banner-background-center {
  background-image: url('../images/background.jpg');
}

.banner-background-right {
  background-image: url('../data/tela/obra-1.jpg');
}

ol {
  list-style: none;
  padding: 0;
  margin: 15px 0px;
}

.bar {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color: var(--nav-secondary-color);
  opacity: 0.8;
  margin: 0;
  cursor: pointer;
}

.selection-bar {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
  
.banner-button {
  width: 30px;
  height: 30px;
  filter: invert(7%) sepia(19%) saturate(429%) hue-rotate(160deg) brightness(90%) contrast(91%);

  cursor: pointer;
}

.banner-button:hover {
  filter: invert(100%) sepia(14%) saturate(1%) hue-rotate(230deg) brightness(111%) contrast(90%);
}

#selected-bar {
  margin: 19px 0;
}

#arrow-left {
  position: absolute;
  left: 10px;
  top: calc(50% - 15px);
  background: url("../images/icon-arrow.svg");
  background-size: contain;
  transform: rotate(180deg);
  cursor: pointer;
  opacity: 0.686;
  z-index: 1;
}

#arrow-right {
  position: absolute;
  right: 10px;
  top: calc(50% - 15px);
  background: url("../images/icon-arrow.svg");
  background-size: contain;
  cursor: pointer;
  opacity: 0.686;
  z-index: 1;
}

.intro-background {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background-color: var(--nav-color);
  box-shadow: 10px 5px 40px var(--nav-secondary-color);
}

#nav-text {
  width: min(50vw, var(--nav-center-width));
  position: absolute;
  color: var(--nav-highlight-color);
  font-size: 25px;
  transform: none;
  z-index: 1;
  text-align: center;
  user-select: none;
}

#nav-center {
  background-color: var(--nav-color);
  width: 100%;
  height: var(--nav-height);
  box-shadow: 5px 0px 10px var(--nav-color)
              -5px 0px 10px var(--nav-color);
  transform-origin: 50% 50%;
  margin: auto;
}

.nav-center-all {
  display: flex;
  align-items: center;
  width: min(50vw, var(--nav-center-width));
  margin: 0;
  cursor: pointer;
}

.nav-right {
  width: calc((100% - max(400px, 30%))/2);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.nav-left {
  width: calc((100% - max(400px, 30%))/2);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

#nav-button, #nav-button-left {
  display: block;
  margin: auto auto;
  position: relative;
  width: var(--nav-button-width);
  height: 100%;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
  /*text-decoration: none;
  text-underline-offset: 0.4rem;
  text-decoration-color: var(--nav-highlight-color-transparent);*/
}

.not-selected {
  color: var(--nav-color);
}

#nav-button:hover, #nav-button-left:hover {
  background-color: var(--nav-color);
  color: var(--nav-highlight-color);
  text-decoration-color: var(--nav-highlight-color);
  box-shadow: inset 0px 2px 4px #202020;
  /*text-decoration: underline;
  text-underline-offset: 0.1rem;*/
  transition: background-color 100ms, color 100ms/*, text-underline-offset 200ms, text-decoration-color 200ms*/;
}

.selected {
  background-color: var(--nav-color);
  color: var(--nav-highlight-color);
  box-shadow: inset 0px 2px 4px #202020;
}

.nav-menu-button {
  display: block;
  margin: auto auto;
  position: relative;
  width: 100%;
  user-select: none;
  font-size: 13px;
  height: calc(var(--nav-height)/2);
  background-color: var(--nav-color);
  color: var(--nav-highlight-color);
  cursor: pointer;
  /*text-decoration: none;
  text-underline-offset: 0.4rem;
  text-decoration-color: var(--nav-highlight-color-transparent);*/
}


.nav-menu-button:hover {
  background-color: var(--nav-highlight-color-transparent);
  color: var(--nav-color);
  transition: color 100ms ease-in;
  transition: background-color 100ms ease-in;
  /*text-decoration: underline 0.1rem;
  text-underline-offset: 0.1rem;*/
  transition: background-color 100ms, color 100ms/*, text-underline-offset 200ms, text-decoration-color 200ms*/;
}

#nav-menu-left-buffer {
  height: calc(var(--nav-height)/4);
  background-color: var(--nav-color);
}

#nav-arrow-button {
  display: block;
  position: fixed;
  height: auto;
  aspect-ratio: 1;
  height: 20px;
  background: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  filter: invert(5%) sepia(2%) saturate(5867%) hue-rotate(163deg) brightness(92%) contrast(88%);    
  z-index: 1;
  right: calc(50% - 10px);
  top: var(--nav-height);
  cursor: pointer;

}

#nav-arrow-button:hover {
  filter: invert(100%) sepia(14%) saturate(1%) hue-rotate(230deg) brightness(90%) contrast(80%);
}

#nav-small-screen-button {
  display: none;
}



.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  column-gap: 2vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  row-gap: 2vw;
}

.grid-item {
  background-color: transparent;
  width: max(60vw, 800px);
  aspect-ratio: 4/3;
  overflow: clip;
  transform: scale(100%);
  transition: transform 400ms;
}

.grid-item:hover * p {
  height: 2rem;
  transition: height 400ms;
}

.grid-item:hover {
  transform: scale(110%);
  transition: transform 400ms;
  cursor: pointer;
}

.grid-p {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  bottom: 0;
  height: 0;
  transition: height 400ms;
  user-select: none;
  color: var(--nav-color);
}

.grid-h {
  position: relative;
  padding-top: 5px;
  margin-top: auto;
  margin-bottom: 0;
  user-select: none;
  color: var(--nav-color);
}

.grid-item-content {
  position: relative;
  margin: 5%;
  width: 90%;
  aspect-ratio: 4/3;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--background-color);
  border: 1px solid var(--nav-secondary-color);
}

.grid-info {
  display: flex;
  mix-blend-mode: normal;
  flex-flow: column nowrap;
  position: absolute;
  margin-top: auto;
  padding-top: 5px;
  background:var(--section-background);
  width: 100%;
  opacity: 0.8;
  bottom: 0;
}

#back {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-color);
  user-select: none;
  cursor: pointer;
}

#back:hover {
  color: var(--nav-secondary-color);
}

#imageoverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 3;
}

#grid-imageoverlay {
  position: relative;
  width: max-content;
  height: 80vh;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  row-gap: 0;
  background-color: #f2f2f2;
  border: 1px solid var(--nav-secondary-color);
  top: 10vh;
}

#imageoverlay-image {
  height: min(80vh, 60vw);
  width: min(80vh, 60vw);
  justify-self: center;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

#imageoverlay-description {
  width: 100%;
  height: fit-content;
}

#imageoverlay-p {
  height: max-content;
}

@media only screen and (max-width: 1015px) {

  section {
    width: calc(100vw - 40px);
    height: 100vh;
  }

  #nav-button, #nav-button-left, #nav-menu-left {
    display: none;
  }

  #nav-small-screen-button {
    display: block;
    margin: auto auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1;
    background-image: url("../images/bar-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
    filter: brightness(600%);
    cursor: pointer;
  }

  #nav-small-screen-button:hover {
    filter: brightness(1400%);
  }

  #nav-arrow-button {
    display: none;
  }

  #nav-bar {
    background-color: var(--nav-color);
    opacity: 1;
  }

  #nav-small-screen-menu {
    display: block;
    top: var(--nav-height);
    position: absolute;
    width: var(--nav-button-width);
    overflow: hidden;
  }
  
  #nav-small-screen-menu-background {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    position: absolute;
    overflow: hidden;
    transform: translateY(-100%);
  }

  #nav-small-screen-menu-button {
    
  font-size: 15px;
  height: 2.5rem;
  }

  .section-banner {
    width: calc(100vw - 40px);
    justify-content: flex-start;
  }

  #banner {
    width: 100%;
  }

  .selection-bar {
    display: none;
  }

  #grid-imageoverlay {
    grid-template-columns: auto;
    align-content: center;
  }
  
  

  .grid-item{
    width: min(calc(100vw - 40px), 800px);
    margin: 0;
  }

  

  .grid-item-content {
    width: 100%;
    margin: 0;
  }

  
  .grid-item:hover {
    all:unset;
    cursor: pointer;
  }

  .grid-p {
    height: 0;
  }

  .grid-item:hover * p {
    height: 0;
  }

  
  .grid-container {
    width: calc(100vw - 40px);
    height: fit-content;
    margin-top: 55px;
  }

  #grid-imageoverlay {
    width: 80vw;
    height: 80vh;
    grid-template-columns: auto;
  }

  #imageoverlay-image {
    height: 60vh;
    width: 80vw;
    margin: 1.5rem;
  }

  #imageoverlay-description {
    margin: 0 1.5rem;
  }

}

@media only screen and (max-width: 700px) {

  :root {

      --nav-height: 40px;
  }

  #nav-text {
    font-size: 20px;
  }
}

.rotate-1 {
  animation: rotate-one 400ms ease-in forwards;
}

.rotate-2 {
  animation: rotate-two 400ms ease-in forwards;
}

.nav-center-in {
  animation: center-in 400ms ease-in forwards;
}
.nav-center-out {
  animation: center-out 400ms ease-out forwards;
}
.nav-text-in {
  animation: text-in 500ms ease-in forwards;
}
.nav-text-out {
  animation: text-out 500ms ease-out forwards;
}

.nav-closed {
  animation: nav-out 600ms linear forwards;
}

.nav-open {
  animation: nav-in 600ms linear forwards;
}


.nav-collapsed {
  animation: nav-collapse 100ms linear forwards;
}

.nav-extended {
  animation: nav-extend 100ms linear forwards;
}

@keyframes nav-extend {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes nav-collapse {
  0% {
      transform: translateY(0);
      opacity: 1;
  }

  100% {
      transform: translateY(-100%);
      opacity: 0;
  }
}


@keyframes text-in {
  0% {
      transform: translateY(-200%);
  }

  100% {
      transform: translateY(0%);
  }
}

@keyframes text-out {
  0% {
      transform: translateY(0%);
  }

  100% {
      transform: translateY(-200%);
  }
}

@keyframes nav-in {
  0% {
      transform: translateY(-100%);
  }

  100% {
      transform: translateY(0);
  }
}

@keyframes nav-out {
  0% {
      transform: translateY(0);
  }

  100% {
      transform: translateY(-100%);
  }
}

@keyframes center-in {
  0% {
      width: 0;
  }

  100% {
      width: 100%;
  }
}
@keyframes center-out {
  0% {
      width: 100%;
  }
  
  100% {
      width: 0%;
  }
}

@keyframes rotate-one {
  0% {
      transform: rotate(-90deg);
  }
  100% {
      transform: rotate(90deg);
  }
}

@keyframes rotate-two {
  0% {
      transform: rotate(90deg);
  }
  100% {
      transform: rotate(270deg);
  }
}